body {
    background-color: #cacaca;
}

.volver {
    color: blue;
    text-decoration: none;
    font-weight: 600;
}

.card {
    width: 18rem;
    height: 37.4em;
}

#login {
    background-color: #ecedf5;
    padding: 20px;
    border: 1px #7c809e solid;
}

#login * {
    display: block;
}